@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-shadow: 3px 3px 7px #42FF6B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
